.App-header {
    display        : flex;
    justify-content: left;
    align-items    : center
  }
  
  .App-header>h1 {
    display: inline;
    color  : var(--main-color);
  }
  
  .App-header {
    border-bottom: medium solid var(--main-color);
  }