.App-body {
    height : 50vh;
    padding: 3rem;
  }
  
  .App-body>p {
    font-weight: 500;
  }
  
  
  .App-body input {
    margin       : 0 1rem;
    border       : thin solid var(--gray-thin-color);
    border-radius: 2px;
    padding      : 0.2rem;
  }
  
  .App-body button {
    border       : thin solid var(--gray-thin-color);
    cursor       : pointer;
    border-radius: 2px;
  }